

.container {
  width: 768px;
  background-color: #fff;
  margin: 2em auto;
  display: flex;
  border-radius: 10px;
}

.right {
  order: 1;
  padding: 1em;
  height: 360px;
}

#description {
  padding: 2px;
}

.left {
  padding: 1em;
}

.sizes {
  display: flex;
}

.size,
#add,
#like {
  padding: 12px;
  border: 1px solid #abccf9;
}

.focus{
  background-color: #519181;
  color: #fff;
  border: 1px solid #000;
}

footer {
  text-align: center;
}

#heart {
  color: purple;
}

@media screen and (max-width: 500px) {
  .container {
    width: 320px;
    flex-direction: column;
  }
  
  .right {
    height: 100%;
  }
  
  #description > p {
    display: none;
  }
  
  img {
    width: 300px;
  }
  
  .size {
    padding: 7px;
    margin: 0 auto;
  }
}